<footer>

 
  

      <div class="container">
          <p class="pull-left copyright"> Copyright © WASSER 2020. Todos los derechos reservados.<a href="#"> Sobre Nosotros </a></li></p>
     
      </div>

  <!--/.footer-bottom--> 

</footer>