<footer>

 
  

      <div class="container">
          <p class="pull-left copyright"> Copyright © WASSER 2020. Todos los derechos reservados.<a href="/sobreNosotros"> Sobre Nosotros </a></li></p>
     
      </div>
     
      <div class="container">
        <p class="pull-left copyright"> 
          <% if (typeof user == "undefined") { %>
                    
          <li><a href="/user/iniciarsesion">Ingresar</a></li>
          <% }else{ %>
          <li>Regresa pronto <%= (user)?user.nick:"." %>!</li>   
          
          <li><a href="/user/cerrarsesion">Cerrar Sesion</a></li> </li></p>
          <% } %>
          <br>
    </div>
  <!--/.footer-bottom--> 

</footer>