<footer>

 
  

      <div class="container">
          <p class="pull-left copyright"> Copyright © WASSER 2020. Todos los derechos reservados.<a href="/sobreNosotros"> Sobre Nosotros </a></li></p>
     
      </div>
     
      <div class="container">
        <p class="pull-left copyright"> <a href="/productos">VISTA DE ADMINISTRADOR</a></li></p>
   
    </div>
  <!--/.footer-bottom--> 

</footer>