<div class="container">    
    <div class="row">
      <div class="col-sm-12">
        
        <div class="footer">
            <br>
            <h2>Wasser, ¡los mejores precios encontralos aqui!</h2>
            <br>

        
            
        </div>

        <div class="footer">
            <h4>Saber mas</h4>
            <ul class="footer_list">
              <li><a href="/sobrenosotros">Sobre Nosotros</a></li>
              <li><a href="https://www.instagram.com/wasser.arg/">Contactanos</a></li>
              <li><a href="/error">FAQ</a></li>
              <li><a href="/error">Nuestras Oficinas</a></li>

            </ul>
           
          </div> 
          <br>
          <h2>Subscribite para recibir las mejores ofertas!</h2>
          <div class="hero-cta__input"> <input type="email" name="data[email]" required="" id="hero-cta-email" placeholder="Ingrese su Email aqui"></div> <button type="submit" class="emailsignup">Subscribirme</button></div>
          <br>
          <br>

          


      </div>
      <br>
    </div>
  </div>