
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WASSER AR</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="stylesheets/img/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

  <!-- CSS here -->
  
  <link rel="stylesheet" href="stylesheets/css/producto1.css">
	<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="stylesheets/css/slicknav.css">
  <link rel="stylesheet" href="stylesheets/css/flaticon.css">
  <link rel="stylesheet" href="stylesheets/css/progressbar_barfiller.css">
  <link rel="stylesheet" href="stylesheets/css/gijgo.css">
  <link rel="stylesheet" href="stylesheets/css/animate.min.css">
  <link rel="stylesheet" href="stylesheets/css/animated-headline.css">
	<link rel="stylesheet" href="stylesheets/css/magnific-popup.css">
	<link rel="stylesheet" href="stylesheets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="stylesheets/css/themify-icons.css">
	<link rel="stylesheet" href="stylesheets/css/slick.css">
	<link rel="stylesheet" href="stylesheets/css/nice-select.css">
	<link rel="stylesheet" href="stylesheets/css/style.css">
</head>
<!-- Preloader Start -->
       <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="stylesheets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    
    <header>
      <!-- Header Start -->
      <div class="header-area">
          <div class="main-header ">
              <div class="header-top d-none d-lg-block">
                  <div class="container">
                      <div class="col-xl-12">
                          <div class="row d-flex justify-content-between align-items-center">
                           </div>
                      </div>
                  </div>
              </div>
              <div class="header-bottom header-sticky">
                  <div class="container">
                      <div class="row align-items-center">
                          <!-- Logo -->
                          <div class="col-xl-2 col-lg-2">
                              <div class="logo">
                                  <a href="/"><img src="stylesheets/img/logo/logo.png" alt=""></a>
                              </div>
                          </div>
                          
                          
                         
                       
                          <div class="col-xl-9 col-lg-8">
                              <div class="menu-wrapper  d-flex align-items-center">
                                  <!-- Main-menu -->
                                  <div class="main-menu d-none d-lg-block">
                                      <nav> 
                                          
                                          <ul id="navigation">    
                                                                                                                                   
                                               <li><a href="/iniciarsesion">Cuenta</a>
                                                  <ul class="submenu">
                                                      <li><a href="/registro">Registrarse</a></li>
                                                      <li><a href="/iniciarsesion">Ingresar</a></li>
                                                  </ul>
                                              </li>
                                             
                                             
                                              <li><a href="/categoria">Categorias</a>
                                                  <ul class="submenu">
                                                      <li><a href="">categoria 1</a></li>
                                                      <li><a href="">Categoria 2</a></li>
                                                      <li><a href="">Categoria 3</a></li>
                                                  </ul>
                                              </li>
                                          

                                                  <li><a  id="navbarDropdown3" role="button" href="/carrito"
                                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-shopping-cart"></i>Carrito</a>
                                                      <ul class="submenu">
                                                          
                                                          <li><a href="#">item 1</a></li>
                                                          <li><a href="#">item 2</a></li>
                                                          <li><a href="#">item 3</a></li>
                                                          <li><a href="/carrito">IR AL CARRITO</a></li>
                                                      </ul>
                                                  </li>
                                                  <!-- Search Box -->                            
                                                  <li class="search-switch">
                                                     <a ><i class="fas fa-search" > </i></a></li>
                                             
                                                 </li> 
                                              
                                              <li><a href="http://www.twitter.com"><i class="fab fa-twitter" ></i></a></li>
                                              <li><a href="facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                                              <li><a  href="""><i  class="fas fa-phone"></i></a></li>
                                            

                                              
                                              
                                                  
                                              
                                                  
                                                      
                                          </ul>
                                          
                                      </nav>
                                  </div>
                              </div>
                          </div> 
                          
                              
                          
                          <!-- Mobile Menu -->
                          <div class="col-12">
                              <div class="mobile_menu d-block d-lg-none"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Header End -->
  </header>
<body>
   
 
    
      <!-- Page Content -->
      <div class="container"> 
        <div class="row">
          <div class="col-md-4 mb-5">

            
            </div>
              </div>
               </div>


        <!-- Heading Row -->
        <div class="row align-items-center my-5">
          <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="img/aa.jpg" alt="">
            <div class="slidershow middle">
              <div class="slides">
                
                  <div class="slide s1">
                      <img src="/stylesheets/img/items/piazza emblen2.png" alt="">
                  </div>
                  <div class="slide">
                      <img src="img/aa2.jpg" alt="">
                  </div>
                  <div class="slide">
                      <img src="img/aa3.jpg" alt="">
                  </div>
                  <div class="slide">
                      <img src="img/aa4.jpg" alt="">
                  </div>
              </div>
         

          </div>
            
          </div>
          <!-- /.col-lg-8 -->
          <div class="col-lg-5">
            <h1 class="font-weight-light">Grifo de cocina monocomando Piazza Emblem 10012 cromo cromado</h1>
            <h2>$2.729</h2>
            <input type="button" value="Color 1">
            <input type="button" value="Color 2">
            <p>Diseño de vanguardia, funcional y práctico El control monocomando es un sistema moderno, durable y de fácil instalación. 
            
              Consumo inteligente
              Con tecnología de avanzada, este grifo incorpora un cierre cerámico, que ayuda a reducir el consumo de agua y requiere un mínimo mantenimiento. Cuidá tu economía y colaborá con el cuidado del ambiente.</p>
            <label for="cantidad"><b>cantidad: </b></label>
            <select name="cantidad" id="cantidad">
                <option value="">Seleccione cantidad</option>
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
            </select>
            <a class="btn btn-primary" href="#">AÑADIR AL CARRITO</a>
          </div>
          <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    
        <!-- Call to Action Well -->
        <h3>Descripcion Tecnica</h3>
        <div class="container">
          <h3 class="font-weight-light"> 
            </h3>
          <div class="card-body">
            <p class="text-white m-0">
              
            </p>
          </div>
        </div>

     
        <!-- Content Row -->
        <div class="row">
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <div class="card-body">
                <h2 class="card-title">Caracteristicas principales</h2>
                <p class="card-text">
                  <p>	Piazza</p>
                  <p>Línea: Emblem</p>
                  <p>Modelo:	10012</p>
                <p>Color:	Cromo</p>
                  <p>Acabado:	Cromado</p>
              </div>
              
            </div>
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <div class="card-body">
                <h2 class="card-title">Redes</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
              </div>
              
            </div>
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <div class="card-body">
                <h2 class="card-title">Medios de pago</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
              </div>
              
            </div>
          </div>
          <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    
      </div>
      <!-- /.container -->
    
      <!-- Footer -->
      <footer>
        <p>Copyright ©2020 <a href="">WASSER</a> | Made by <a href="https://www.instagram.com/sibeeriano/">Facundo Vara</a> - <a href="https://www.instagram.com/leandrobuco/">Leandro Bucco</a> - <a href="https://www.instagram.com/leandrouriell/">Uriel Turrion</a> | <a href="">Termino y condiciones</a> </p>
    </div>
  </footer>
    
<!-- search model begin -->
<div class="search-model-box" style="display: none;">
<div class="h-100 d-flex align-items-center justify-content-center">
<div class="search-close-btn">+</div>
<form class="search-model-form">
<input type="text" id="search-input" placeholder="Qué buscas?">
</form>
</div>
</div>              
<!-- Search model end -->   
<!-- Scroll Up -->
<div id="back-top" >
<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="stylesheets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="stylesheets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="stylesheets/js/popper.min.js"></script>
<script src="stylesheets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="stylesheets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="stylesheets/js/owl.carousel.min.js"></script>
<script src="stylesheets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="stylesheets/js/wow.min.js"></script>
<script src="stylesheets/js/animated.headline.js"></script>
<script src="stylesheets/js/jquery.magnific-popup.js"></script>



<!-- counter , waypoint,Hover Direction -->
<script src="stylesheets/js/jquery.counterup.min.js"></script>
<script src="stylesheets/js/waypoints.min.js"></script>
<script src="stylesheets/js/jquery.countdown.min.js"></script>
<script src="stylesheets/js/hover-direction-snake.min.js"></script>



<!-- Jquery Plugins, main Jquery -->	
<script src="stylesheets/js/plugins.js"></script>
<script src="stylesheets/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>


</body>
</html>